*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    color: #8f9bad;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 1em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

img {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: #203656;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin: 20px 0;
}

.site-wrapper .main-overlay {
    opacity: 0;
    visibility: hidden;
    filter: blur(2px);
    background: #fff;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.site-wrapper .main-overlay.active {
    opacity: 0.6;
    visibility: visible;
}

.header-default {
    padding: 40px 0;
    position: relative;
    width: 100%;
}

.header-default .navbar-nav {
    margin-left: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.header-default.clone {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    right: 0;
    padding: 25px 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.7);
    z-index: 4;
}

body.down .header-default.clone {
    transform: translateY(0);
}

.navbar-nav{
    padding: 0;
}

.nav-item{
    margin-left: 50px;
}

.nav-link {
    font-size: 20px;
}

section {
    position: relative;
}

.post .thumb {
    position: relative;
}

.post .thumb.rounded .inner {
    border-radius: 10px;
    overflow: hidden;
}

.post .thumb img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.post .thumb:hover img {
    transform: scale(1.07);
}

.post .post-title a {
    color: #203656;
}

.post .meta {
    font-size: 14px;
    color: #9faabb;
}

.post .meta a {
    color: #9faabb;
    font-weight: 400;
}

#toForm2{
    color: #4b7fce;
    font-weight: 400;
    text-decoration: none;
}

.post .meta i {
    vertical-align: middle;
}

.post .meta li:last-child::after {
    content: "";
    display: none;
}

/* ******************* hero right side ************** */

.rounded {
    border-radius: 10px !important;
}

.bordered {
    border: 1px solid #ebebeb;
}

.post-tabs {
    padding: 30px;
}

.post-tabs .tab-content {
    margin-top: 30px;
}

.nav-tabs {
    border-bottom: 0;
}

.tab-content {
    position: relative;
}

.tab-pane {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.tab-pane.loading {
    opacity: 0.3;
}

.padding-30 {
    padding: 30px;
}

.post.post-list-sm.square .thumb {
    max-width: 110px;
}

/* **************** */

.post.post-list {
    margin-bottom: 30px;
}

.post.post-list .thumb {
    float: left;
    max-width: 265px;
}

.post.post-list .details {
    margin-left: 295px;
}

.post.post-list .post-title {
    margin: 9px 0;
}

.post.post-list .post-bottom {
    margin-top: 9px;
}

.post.post-list .post-bottom .social-share .icons {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.post.post-list .post-bottom .social-share .icons::before {
    content: "";
    background: #ddd;
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
}

.post.post-list .post-bottom .social-share .icons.visible {
    opacity: 1;
    visibility: visible;
}

.post .post-bottom .social-share .toggle-button {
    font-size: 16px;
    color: #9faabb;
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: middle;
}

.post .post-bottom .social-share .icons {
    display: inline;
    vertical-align: middle;
}

.post .post-bottom .social-share .icons li a {
    color: #9faabb;
    font-size: 14px;
}

.post .post-bottom .social-share .icons li a:hover {
    color: #ad1deb;
}

.post .post-bottom .social-share .icons li:not(:last-child) {
    margin-right: 0.8rem;
}

.widget {
    border: 1px solid #ebebeb;
    padding: 35px 30px;
    margin-bottom: 40px;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget .widget-header {
    margin-bottom: 30px;
}

.widget .widget-title {
    font-size: 20px;
    margin: 0;
}

.widget ul.list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.widget ul.list li {
    line-height: 2.8rem;
}

.widget ul.list li::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #ebebeb;
    background-image: linear-gradient(to right, #ebebeb 0%, transparent 100%);
}

.widget ul.list li span {
    float: right;
}

.widget ul.list li:last-child::after {
    content: "";
    display: none;
}

footer {
    margin-top: 50px;
}

footer .footer-inner {
    border-top: 1px solid #ebebeb;
    padding: 40px 0;
}

footer .footer-inner .copyright {
    color: #9faabb;
}

#return-to-top {
    color: #8f9bad;
    font-size: 13px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    border-radius: 25px;
    padding: 6px 20px;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

#return-to-top i {
    font-size: 11px;
    vertical-align: middle;
    margin-right: 10px;
}

/* *********** responsiveness **************** */

@media only screen and (max-width: 992px) {
    .inner-wrapper-sticky {
        transform: none !important;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .featured-post-lg .thumb .inner {
        height: 425px;
    }
    .post.post-list .thumb {
        float: none;
        max-width: 550px;
    }
    .post.post-list .details {
        margin-left: 0;
        margin-top: 25px;
    }
    .post .meta li::after {
        content: "";
        margin-left: 0.5rem;
    }
    .post .meta li:not(:last-child) {
        margin-right: 0.3rem;
    }
    .instagram-feed .insta-item {
        text-align: center;
        margin: 2.5px 0;
    }
    .footer-inner {
        text-align: center;
    }
    .featured-post-lg .post-title {
        font-size: 26px;
    }
    .featured-post-lg .details {
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
    .search-popup .search-content {
        padding: 0px 20px;
        width: 100%;
    }
    .post-carousel-widget .post-carousel {
        margin: 0 12px;
    }
    .post-carousel-widget .post-carousel .post-title {
        font-size: 16px;
    }
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
}

.btn-block {
  width: 100%;
}

/* form */

.form , .form2 {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 4rem auto;
}

.form2 {
    width: 90vw;
    max-width: var(--fixed-width);
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 10rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.contact-form {
  max-width: 400px;
}

.contact-form h5 {
  text-align: center;
}
.container {
  width: 90vw;
  max-width: 400px;
  margin: 3rem auto;
}
.container > h4 {
  text-align: center;
  margin-bottom: 0;
}